{;; Using https://gist.github.com/kaushikgopal/ff7a92bbc887e59699c804b59074a126 as starting point

    ;; !  | mandatory  (not recursive) modifiers which must be pressed
    ;; #  | optional   (recursive) modifiers which can be pressed
    ;; !! | command + control + optional + shift (hyper)
    ;; ## | optional any

    ;; to understand better how modifiers work in karabiner
    ;; karabiner definition of mandatory and optional
    ;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/

    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;;
    ;; need to prefix C T O S F with ! or #
    ;;
    ;; code for all this:
    ;; https://github.com/yqrashawn/GokuRakuJoudo/blob/b9b334a187379f9bc8182ad59e2cca2a1789e9c0/src/karabiner_configurator/keys.clj#L68


 :profiles {:Default {:default true
                      :sim     50    ;; simultaneous_threshold_milliseconds (def: 50)
                                ;; keys need to be pressed within this threshold to be considered simultaneous
                      :delay   50     ;; to_delayed_action_delay_milliseconds (def: 500)
                                ;; basically it means time after which the key press is count delayed
                      :alone   100    ;; to_if_alone_timeout_milliseconds (def: 1000)
                                ;; hold for 995s and single tap registered; hold for 1005s and seen as modifier
                      :held    50}}     ;; to_if_held_down_threshold_milliseconds (def: 500)
                                ;; key is fired twice when 500 ms is elapsed (otherwise seen as a hold command)
 ;; profiles

 :templates {:alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             :yabai "/usr/local/bin/yabai -m %s"
             :open "open \"%s\""
             :shell "%s"} ;; templates

;; layers are basically "hyper" keys
;; press this in combination with something else and depending on your rule, make things happen
 :layers {} ;; layers

;; simlayers are basically "hyper" keys
;; layers works too, but only recommended for non-typing keys like . or tab
;; or keys like z which are used less often
 :simlayers {;; Home row mods
             :a-mode {:key :a}
             :semicolon-mode {:key :semicolon}
             :s-mode {:key :s}
             :l-mode {:key :l}
             :d-mode {:key :d}
             :k-mode {:key :k}
             :f-mode {:key :f}
             :j-mode {:key :j}

             :x-mode {:key :x}

             :c-mode {:key :c}
             :o-mode {:key :o}
             :w-mode {:key :w}
             :g-mode {:key :g}
             :p-mode {:key :p}
             :q-mode {:key :q}
             :r-mode {:key :r}
             :e-mode {:key :e}
             :z-mode {:key :z}
             :y-mode {:key :y}
             :b-mode {:key :b}
             :v-mode {:key :v}
             :dead-mode {:key :spacebar}} ;; simlayers

;; main contains multiple manipulators
 :main [;; each manipulator has a description and multiple rules

    ;;{:des "..."                               ;; -> description
    ;; :rules[
    ;;          [<from>  <to>  <conditions>]    ;; -> rule 1
    ;;          [<from>  <to>  <conditions>]    ;; -> rule 2
    ;; ]}

    ;; rule [:period ["period-mode" 1] nil {:afterup ["period-mode" 0] :alone :period}]
    ;;       |_____| |_______________| |_| |_________________________________________|
    ;;        <from>    <to>      <conditions>         <other options>
    ;;
    ;; karabiner docs: ;; https://pqrs.org/osx/karabiner/json.html#complex_modifications-manipulator-definition
    ;; <other options> includs ~to_if_alone~, ~to_if_held_down~,~to_after_key_up~, ~to_delayed_action~ and ~parameters~.
    ;;

    ;; (custom variables) & modifiers -> Advanced
    ;; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org#custom-variable

    ;{:des "A to Shift"
    ; :rules [[:##a :left_shift nil {:alone :a}]]}

        {:des "Global rebinds"
         :rules
         [[:home :home :nil {:alone :!Cup_arrow}]
          [:end :end :nil {:alone :!Cdown_arrow}]
          [:home :!Cleft_arrow]
          [:end :!Cright_arrow]]}

        {:des "A to Shift"
         :rules [:a-mode
                 [:semicolon :!Ssemicolon]
                 [:quote :!Squote]
                 [:1 :!S1]
                 [:2 :!S2]
                 [:3 :!S3]
                 [:4 :!S4]
                 [:5 :!S5]
                 [:6 :!S6]
                 [:7 :!S7]
                 [:8 :!S8]
                 [:9 :!S9]
                 [:0 :!S0]
                 [:period :!Speriod]
                 [:comma :!Scomma]
                 [:q :!Sq]
                 [:w :!Sw]
                 [:e :!Se]
                 [:r :!Sr]
                 [:t :!St]
                 [:y :!Sy]
                 [:u :!Su]
                 [:i :!Si]
                 [:o :!So]
                 [:p :!Sp]
                 [:s :!Ss]
                 [:d :!Sd]
                 [:f :!Sf]
                 [:g :!Sg]
                 [:h :!Sh]
                 [:j :!Sj]
                 [:k :!Sk]
                 [:l :!Sl]
                 [:z :!Sz]
                 [:x :!Sx]
                 [:c :!Sc]
                 [:v :!Sv]
                 [:b :!Sb]
                 [:n :!Sn]
                 [:m :!Sm]]}

        {:des "S to Ctrl"
         :rules [:s-mode
                 [:1 :!T1]
                 [:2 :!T2]
                 [:3 :!T3]
                 [:4 :!T4]
                 [:5 :!T5]
                 [:6 :!T6]
                 [:7 :!T7]
                 [:8 :!T8]
                 [:9 :!T9]
                 [:0 :!T0]
                 [:a :!Ta]
                 [:q :!Tq]
                 [:w :!Tw]
                 [:e :!Te]
                 [:r :!Tr]
                 [:t :!Tt]
                 [:y :!Ty]
                 [:u :!Tu]
                 [:i :!Ti]
                 [:o :!To]
                 [:p :!Tp]
                 [:semicolon :!Tsemicolon]
                 [:d :!Td]
                 [:f :!Tf]
                 [:g :!Tg]
                 [:h :!Th]
                 [:j :!Tj]
                 [:k :!Tk]
                 [:l :!Tl]
                 [:z :!Tz]
                 [:x :!Tx]
                 [:c :!Tc]
                 [:v :!Tv]
                 [:b :!Tb]
                 [:n :!Tn]
                 [:m :!Tm]]}

        {:des "D to Option"
         :rules [:d-mode
                 [:semicolon :!Osemicolon]
                 [:1 :!O1]
                 [:2 :!O2]
                 [:3 :!O3]
                 [:4 :!O4]
                 [:5 :!O5]
                 [:6 :!O6]
                 [:7 :!O7]
                 [:8 :!O8]
                 [:9 :!O9]
                 [:0 :!O0]
                 [:a :!Oa]
                 [:q :!Oq]
                 [:w :!Ow]
                 [:e :!Oe]
                 [:r :!Or]
                 [:t :!Ot]
                 [:y :!Oy]
                 [:u :!Ou]
                 [:i :!Oi]
                 [:o :!Oo]
                 [:p :!Op]
                 [:s :!Os]
                 [:f :!Of]
                 [:g :!Og]
                 [:h :!Oh]
                 [:j :!Oj]
                 [:k :!Ok]
                 [:z :!Oz]
                 [:x :!Ox]
                 [:c :!Oc]
                 [:v :!Ov]
                 [:b :!Ob]
                 [:n :!On]
                 [:m :!Om]]}

        {:des "F to Cmd"
         :rules [:f-mode
                 [:semicolon :!Csemicolon]
                 [:1 :!C1]
                 [:2 :!C2]
                 [:3 :!C3]
                 [:4 :!C4]
                 [:5 :!C5]
                 [:6 :!C6]
                 [:7 :!C7]
                 [:8 :!C8]
                 [:9 :!C9]
                 [:0 :!C0]
                 [:period :!Cperiod]
                 [:a :!Ca]
                 [:q :!Cq]
                 [:w :!Cw]
                 [:e :!Ce]
                 [:r :!Cr]
                 [:t :!Ct]
                 [:y :!Cy]
                 [:u :!Cu]
                 [:i :!Ci]
                 [:o :!Co]
                 [:p :!Cp]
                 [:s :!Cs]
                 [:d :!Cd]
                 [:l :!Cl]
                 [:g :!Cg]
                 [:h :!Ch]
                 [:j :!Cj]
                 [:k :!Ck]
                 [:z :!Cz]
                 [:x :!Cx]
                 [:c :!Cc]
                 [:v :!Cv]
                 [:b :!Cb]
                 [:n :!Cn]
                 [:m :!Cm]]}

        {:des "; to Shift"
         :rules [:semicolon-mode
                 [:quote :!Squote]
                 [:1 :!S1]
                 [:2 :!S2]
                 [:3 :!S3]
                 [:4 :!S4]
                 [:5 :!S5]
                 [:6 :!S6]
                 [:7 :!S7]
                 [:8 :!S8]
                 [:9 :!S9]
                 [:0 :!S0]
                 [:a :!Sa]
                 [:q :!Sq]
                 [:w :!Sw]
                 [:e :!Se]
                 [:r :!Sr]
                 [:t :!St]
                 [:y :!Sy]
                 [:u :!Su]
                 [:i :!Si]
                 [:o :!So]
                 [:p :!Sp]
                 [:s :!Ss]
                 [:d :!Sd]
                 [:f :!Sf]
                 [:g :!Sg]
                 [:h :!Sh]
                 [:j :!Sj]
                 [:k :!Sk]
                 [:l :!Sl]
                 [:z :!Sz]
                 [:x :!Sx]
                 [:c :!Sc]
                 [:v :!Sv]
                 [:b :!Sb]
                 [:n :!Sn]
                 [:m :!Sm]]}

        {:des "L to Ctrl"
         :rules [:l-mode
                 [:1 :!T1]
                 [:2 :!T2]
                 [:3 :!T3]
                 [:4 :!T4]
                 [:5 :!T5]
                 [:6 :!T6]
                 [:7 :!T7]
                 [:8 :!T8]
                 [:9 :!T9]
                 [:0 :!T0]
                 [:a :!Ta]
                 [:q :!Tq]
                 [:w :!Tw]
                 [:e :!Te]
                 [:r :!Tr]
                 [:t :!Tt]
                 [:y :!Ty]
                 [:u :!Tu]
                 [:i :!Ti]
                 [:o :!To]
                 [:p :!Tp]
                 [:s :!Ts]
                 [:d :!Td]
                 [:f :!Tf]
                 [:g :!Tg]
                 [:h :!Th]
                 [:j :!Tj]
                 [:k :!Tk]
                 [:semicolon :!Tsemicolon]
                 [:z :!Tz]
                 [:x :!Tx]
                 [:c :!Tc]
                 [:v :!Tv]
                 [:b :!Tb]
                 [:n :!Tn]
                 [:m :!Tm]]}

        {:des "K to Option"
         :rules [:k-mode
                 [:semicolon :!Osemicolon]
                 [:1 :!O1]
                 [:2 :!O2]
                 [:3 :!O3]
                 [:4 :!O4]
                 [:5 :!O5]
                 [:6 :!O6]
                 [:7 :!O7]
                 [:8 :!O8]
                 [:9 :!O9]
                 [:0 :!O0]
                 [:a :!Oa]
                 [:q :!Oq]
                 [:w :!Ow]
                 [:e :!Oe]
                 [:r :!Or]
                 [:t :!Ot]
                 [:y :!Oy]
                 [:u :!Ou]
                 [:i :!Oi]
                 [:o :!Oo]
                 [:p :!Op]
                 [:s :!Os]
                 [:f :!Of]
                 [:g :!Og]
                 [:h :!Oh]
                 [:j :!Oj]
                 [:l :!Ol]
                 [:d :!Od]
                 [:z :!Oz]
                 [:x :!Ox]
                 [:c :!Oc]
                 [:v :!Ov]
                 [:b :!Ob]
                 [:n :!On]
                 [:m :!Om]]}

        {:des "J to Cmd"
         :rules [:j-mode
                 [:semicolon :!Csemicolon]
                 [:1 :!T1]
                 [:2 :!T2]
                 [:3 :!T3]
                 [:4 :!T4]
                 [:5 :!T5]
                 [:6 :!T6]
                 [:7 :!T7]
                 [:8 :!T8]
                 [:9 :!T9]
                 [:0 :!T0]
                 [:period :!Cperiod]
                 [:a :!Ca]
                 [:q :!Cq]
                 [:w :!Cw]
                 [:e :!Ce]
                 [:r :!Cr]
                 [:t :!Ct]
                 [:y :!Cy]
                 [:u :!Cu]
                 [:i :!Ci]
                 [:o :!Co]
                 [:p :!Cp]
                 [:s :!Cs]
                 [:d :!Cd]
                 [:l :!Cl]
                 [:g :!Cg]
                 [:h :!Ch]
                 [:f :!Cj]
                 [:k :!Ck]
                 [:z :!Cz]
                 [:x :!Cx]
                 [:c :!Cc]
                 [:v :!Cv]
                 [:b :!Cb]
                 [:n :!Cn]
                 [:m :!Cm]]}

        {:des "Caps to Esc or Hyper"
         :rules [[:##caps_lock :!CTOleft_shift nil {:alone :escape}]]}

        {:des "W mode - Activate apps"
         :rules [:w-mode
                 [:v [:km "open: VSCode"]]
                 [:t [:open "/Applications/iTerm.app"]]
                 [:c [:km "open: Brave"]]
                 [:m [:km "open: Keyboard Maestro"]]
                 [:n [:km "open: Notion"]]]}

        {:des "Z mode - Chat and communication"
         :rules [:z-mode
                 [:l [:km "open: Slack"]]
                 [:d [:km "open: Discord"]]
                 [:t [:km "open: Telegram"]]
                 [:o [:km "open: Zoom"]]]}

        {:des "P mode - Lower accents"
         :rules [:p-mode
                 [:n [:!On :n]]
                 [:a [:!Oe :a]]
                 [:e [:!Oe :e]]
                 [:i [:!Oe :i]]
                 [:o [:!Oe :o]]
                 [:u [:!Oe :u]]]}

        {:des "Q mode - Upper accents"
         :rules [:q-mode
                 [:n [:!On :!Sn]]
                 [:a [:!Oe :!Sa]]
                 [:e [:!Oe :!Se]]
                 [:i [:!Oe :!Si]]
                 [:o [:!Oe :!So]]
                 [:u [:!Oe :!Su]]]}

        {:des "Y mode - Utilities"
         :rules [:y-mode
                 [:t [:km "test"]]
                 [:s :!CTS4]]}

        {:des "O mode - Open sites"
         :rules [:o-mode]}

        {:des "C mode - Commit repos"
         :rules [:c-mode
                 [:d [:km "commit: Dotfiles"]]]}

        {:des "X mode - Vim emulation"
         :rules [:x-mode
                 [:4 :!Cright_arrow]
                 [:0 :!Cleft_arrow]
                 [:u :!Cz]
                 [:d :!Cx]
                 [:w :!Oright_arrow]
                 [:b :!Oleft_arrow]
                 [:p :!Cp]
                 [:n :delete_or_backspace]
                 [:m :delete_forward]
                 [:h :left_arrow]
                 [:j :down_arrow]
                 [:k :up_arrow]
                 [:l :right_arrow]
                 [:comma :!Odelete_or_backspace]
                 [:period :!Odelete_forward]
                 [:semicolon :return_or_enter]
                 [:quote :!Stab]
                 [:backslash :tab]]}

        {:des "G mode - Alfred"
         :rules [:g-mode
                 [:p :!Cspacebar]
                 [:a [:alfred "aws" "com.ryankoval.awsconsoleservices"]]
                 [:t [:alfred "translate" "com.xfslove.translate"]]]}

        {:des "V mode - Multimedia"
         :rules [:v-mode
                 [:s [:km "open: Spotify"]]
                 [:n :volume_decrement]
                 [:m :volume_increment]
                 [:h :rewind]
                 [:j :mute]
                 [:k :play_or_pause]
                 [:l :fastforward]]}

        {:des "B mode - Window management"
         :rules [:b-mode
                 [:n [:km "window: Center"]]
                 [:p [:km "window: Send to next"]]
                 [:m [:km "window: Maximize"]]
                 [:y [:km "window: Resize -X"]]
                 [:u [:km "window: Resize -Y"]]
                 [:i [:km "window: Resize +Y"]]
                 [:o [:km "window: Resize +X"]]
                 [:h [:km "window: Split left"]]
                 [:j [:km "window: Split bottom"]]
                 [:k [:km "window: Split top"]]
                 [:l [:km "window: Split right"]]]}

        {:des "Dead mode"
         :rules [:dead-mode
                 [:1 :!Scomma]
                 [:2 :!Speriod]
                 [:3 :!Sgrave_accent_and_tilde]
                 [:4 :grave_accent_and_tilde]
                 [:7 :!S3]
                 [:8 :!S6]
                 [:q :!S5]
                 [:w :!S7]
                 [:e :!Sslash]
                 [:r :!Sequal_sign]
                 [:t :!S2]
                 [:y :!S4]
                 [:u :!Shyphen]
                 [:i :open_bracket]
                 [:o :close_bracket]
                 [:p :!S1]
                 [:a :slash]
                 [:s :!S9]
                 [:d :equal_sign]
                 [:f :0]
                 [:g :!Sopen_bracket]
                 [:h :!Sclose_bracket]
                 [:j :1]
                 [:k :!S8]
                 [:l :!S0]
                 [:semicolon :hyphen]
                 [:z :6]
                 [:x :7]
                 [:c :8]
                 [:v :9]
                 [:b :!Sbackslash]
                 [:n :backslash]
                 [:m :2]
                 [:comma :3]
                 [:period :4]
                 [:slash :5]]}]}




         ;; main list
